
.buttonContainer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.btnHome{
    min-width: 100px;
}
.CardsWrapper{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.heroWrapper{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #56CAFB;
}
.categoryTitle{
    margin-top: 50px;
}
input{
    margin-top: 25px;
}
.contentsWrapper{
    height: 93vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.btnHero{
    width: 100px;
    margin: 20px auto;
}